# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
